<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toyproject.toyproject.mapper.PostingRepository">
    <sql id="boardColumns">
        board_id, title, url, content, start_date, end_date
    </sql>
    <insert id="insertPosting" parameterType="toyproject.toyproject.domain.PostingDTO">
        INSERT INTO board (
            <include refid="boardColumns"></include>
        ) VALUES (
            #{board_id}, #{title}, #{url}, #{content}, #{start_date}, #{end_date}
        )
    </insert>
    <select id="getPosting" resultType="java.util.HashMap">
        SELECT * FROM board;
    </select>
    <delete id="deletePosting" parameterType="java.lang.Long">
        DELETE FROM board where board_id = #{board_id}
    </delete>
</mapper>