<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toyproject.toyproject.mapper.PostingRepository">
    <sql id="boardColumns">
        board_id, title, url, content, start_date, end_date
    </sql>
    <insert id="insertPosting" parameterType="toyproject.toyproject.domain.PostingDTO">
        INSERT INTO board (
            <include refid="boardColumns"></include>
        ) VALUES (
            #{boardId}, #{title}, #{url}, #{content}, #{startDate}, #{endDate}
        )
    </insert>
    <select id="selectPostingDetail" parameterType="long" resultType="PostingDTO">
        SELECT
            <include refid="boardColumns" />
        FROM
            board
        WHERE
            board_id = #{board_id}
    </select>
    <select id="getPosting" resultType="java.util.HashMap">
        SELECT
            <include refid="boardColumns" />
        FROM board;
    </select>
    <update id="updatePosting" parameterType="PostingDTO">
        update board set
            title = #{title},
            url = #{url},
            content = #{content},
            start_date = #{startDate},
            end_date = #{endDate}
        where board_id = #{boardId}
    </update>
</mapper>